Lvov/Obj/*.asm
Lvov/Obj/*.c
Lvov/Obj/*.o
PK8000/Obj/*.c
PK8000/Obj/*.o
ZX/Obj/*.asm
ZX/Obj/*.bin
ZX/Obj/*.c
ZX/Obj/*.ihx
ZX/Obj/*.lk
ZX/Obj/*.lst
ZX/Obj/*.map
ZX/Obj/*.noi
ZX/Obj/*.rel
ZX/Obj/*.sym
ZX/Sources/*.asm
ZX/Sources/*.bin
ZX/Sources/*.tap
